@{
    ViewData["Title"] = "Contact";
}

<div class="container text-center">
    <h1 class="display-3 mb-5">Your Cart</h1>

    <p class="mb-3">You added @ViewBag.ProductSlug to your cart.</p>

    <a asp-action="index">View Cart</a>
</div>
