
@{
    ViewBag.Title = "Delete Product";
}

<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column">
            <h1 class="display-3 mb-5">Your Cart</h1>

            <p class="mb-3">You removed @ViewBag.ProductSlug to your cart.</p>

            <a asp-action="index">Ok</a>
    </div>
</div>